#installing Ansible
#sudo apt-add-repository ppa:ansible/ansible
#sudo apt-get update
#sudo apt-get install ansible

#Add config
#export ANSIBLE_CONFIG=/mnt/e/Projects/Ansible/My/ansible.cfg

[defaults]
remote_user = root
host_key_checking = false
inventory = inventories/dev/hosts
become = True

#Generate secret 
#openssl rand -base64 256 | paste --delimiters '' --serial > /mnt/e/Projects/Ansible/.secret
vault_password_file = ~/.secret
